html,
body {
  background-color: #1f2041;
}
p,
h1,
h2,
li,
pre {
  color: white;
}

ol {
  margin-bottom: 16px !important;
}

code {
  color: white;
}

.container {
  margin-bottom: 50px;
}

.query-li {
  margin-bottom: 50px;
}

hr {
  color: white;
  margin-top: 50px;
  margin-bottom: 25px;
}

#homepage_row {
  margin-top: 75px;
}

#homepage_tag {
  max-width: 450px;
  margin: auto;
  margin-bottom: 50px;
}

#example_request {
  background-color: #303266;
  padding: 10px;
}

.api-link-btn {
  text-decoration: none;
  color: white;
  background-color: #303266;
  width: fit-content;
  margin: auto;
  padding: 10px 25px 10px 25px;
  border-radius: 8px;
  display: block;
  background-color: #ffc857;
  color: white;
  margin-bottom: 50px;
  font-size: 18px;
}

.url-query {
  font-size: 30px;
}

.api-link {
  color: #ffc857;
}

#awoldt_tag {
  margin-top: 50px;
}

/* LG OR BIGGER */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 50px;
  }
  #homepage_tag {
    font-size: 22px;
  }
  #homepage_row {
    margin-top: 20%;
  }
  #example_return_col {
    padding-left: 150px;
  }
}
